@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

body{
    font-family: 'Hachi Maru Pop', cursive;
    margin: 0px;
}

:root{
    --primary-color : #FDE047 ;
}

.navigation{
    /* text-align: center; */
    padding: 2rem 2rem;
    margin: auto;
    width: 100%;
    /* margin: auto; */
    background-color: var(--primary-color);
}
.navigation .head{
    text-align: center;
}

#text-input{

    margin-left: 1rem;
    margin-top: 2rem;
    width: 100%;
    min-height: 20vh;
    font-size: large;
    font-family: inherit;
}
#btn-translate{
   margin-left: 1rem;
   /* margin: 1rem 0rem; */
   margin-right: 1rem;
   margin-top: 2rem;
   padding: 1rem 2rem;
   font-family: 'Hachi Maru Pop', cursive;
   font-weight: bold;
   font-size: 1rem;
   background-color: var(--primary-color);
  
}
 #text-output {
    margin-left: 1rem;
    margin-bottom: 2rem;
    border: 1px solid black;
    min-height: 10vh;
    max-height: 20vh;
    padding: 1rem;
}

.output-heading{
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;   
}

.main-section{
    max-width: 600px;
    margin: auto;
}

.footer{    
        /* position: fixed; */
        /* bottom: 0; */
        width: 100%;
        margin-right: 1rem;
        margin-left: 1rem;
        /* padding: 1rem; */
        background-color: var(--primary-color);
        text-align: center;
}

