:root{

}
#text-input{
    text-align: center;
    margin-left: 50rem; 
    height: 129px; 
    width: 600px;
    margin: 1rem;
}
#btn-translate{
   border: 1.6px solid black;
   margin: 1rem;
   width: 200px;
   padding: 1rem 2rem;
   background-color: lightyellow;
}
 #text-output {
    border: 1px solid black;
    height: 10vh;
    width: 86%;
    margin: 1rem;
    padding: 1rem;
}